<html>
<body>
<style>
h2 {text-align: center}
p {text-align: center}
</style>

<h2><b>Hello, how are you?</b></h2> 

<p>My name is Kimberly Hopson and I'm a technical writer. Thanks for visiting my page!</p>

<p>With over 7 years in the documentation field, I bring experience and versatility to the table. 
I've dabbled in a variety of writing styles and formats, from technical editing and UI/UX writing to content 
marketing and API documentation. I can also handle documentation-specific challenges such as creating a review 
process or managing repositories.</p>
    
<p>I am currently the <b>technical writer</b> for Blackhawk Network. Previously, I've written for big players like 
<b>Lucidworks</b>, <b>VMware</b>, <b>Johnson & Johnson</b>, and <b>Dell Boomi</b>. Whether you're looking for 
user-friendly instructions or reference documents that won't make your head spin, I've got you covered.</p> 

<p>Let's make your content shine!</p>
    
<p><b>Check out my contributions on my main 
<a href="https://github.com/kghopson">Github account</a>!</b></p>
</body>
</html>